
a.is-danger {
  text-decoration: none;
  color: #f14668;
  transition: all ease 500ms;
}

a.is-danger:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(255, 20, 100, 0.5);
  transition: all ease 500ms;
}

a.is-info {
  text-decoration: none;
  color: #3082c5;
  transition: all ease 500ms;
}

a.is-info:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(0, 0, 255, 0.5);
  transition: all ease 500ms;
}